<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
	<body>
		<!-- header -->
		<%- include('partials/headerNavbar') %>
		<!-- /header -->
		<div class="container-fluid">
			<img src="\images\main\law-icon.jpg" class="img-fluid w-100" alt="Imagen de martillo de juez">			
		</div>
		<!-- footer -->
		<%- include('partials/footer') %>
		<!-- /footer -->
	</body>
</html>
