<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
	<body>
		<div class="container-fluid background-wrapper">
			<!-- <img src="\images\main\law-icon.jpg" class="img-fluid w-100" alt="Imagen Justicia"> -->			
			<!-- header -->
			<%- include('partials/headerNavbar') %>
			<!-- /header -->
		</div>
		<!-- footer -->
		<%- include('partials/footer') %>
		<!-- /footer -->
	</body>
</html>
