<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', {title: 'Register'}) %>
<body>
    <div class="container-fluid background-wrapper">
        <!-- header -->
        <%- include('partials/headerNavbar') %>
        <!-- /header -->
        <div class="container form-wrapper wide-form">
            <div class="row">
                <div class="col-12">
                    <h2 class="form-title">Generar una Suscripción</h2>
                </div>
            </div>
            <div class="col-12">
                <form action="/api/create-suscription" method="GET" enctype="multipart/form-data">
                    <div class="row leyes-detail">
                        <div class="form-group col-12 col-md-6">
                            <label for="email" class="form-label">Email:</label>
                            <input 
                                type="text" 
                                id="email" 
                                name="email" 
                                class="form-control"
                            >
                        </div>
                        <div class="form-group col-12">
                            <button type="submit" class="btn btn-info btn-sm">Enviar</button>
                            <button type="reset" class="btn btn-info btn-sm">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
</html>