* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.jumbotron {
  background-color: #616060;
  background: linear-gradient(357deg, rgba(46,46,46,255) 0%, rgba(97,96,96,1) 35%, rgba(210,210,210,1) 100%);
}

.navbar {
  background-color: #616060;
  margin: 0;
  padding-bottom: 1rem;
  padding: 0;
}

#navbarNav .nav-item {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

.background-wrapper {
  min-height: 500px;
}

.background-wrapper .card {
  margin: 2rem;
}

.form-wrapper {
  padding: 1rem 4rem;
}

.result-list {
  padding: 1rem 4rem;

}

.leyesList {
  width: 300px;
  min-height: 400px;
  margin: 0 auto;
  padding-top: 15px;
}

.detail-group {
  margin-top: 2rem;
}

.detail-group h2 {
  font-size: 1.4rem;
}

li.adjuntos {
  list-style: none;
}

.main-footer {
  width: 100%;
}

.main-footer article {
  width: 100%;
}

.main-footer h2{
  font-size: 0.8rem;
  font-weight: bold;
}

.main-footer p{
  font-size: 0.8rem;
}