* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: whitesmoke;
}

.background-wrapper {
  min-height: 700px;
  background-image: url('/images/main/law-icon.jpg');  
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
  overflow: hidden;
}

.navbar {
  background-color: transparent;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  height: 60px;
}

.navbar .dropdown-menu {
  background-color: gray;
  opacity: 0.95;
}

#navbarNav .nav-item {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

a.nav-link:hover {
  color: darkgoldenrod;
}

a.dropdown-item {
  color: whitesmoke;
}

a.dropdown-item:hover {
  color: darkgoldenrod;
  background-color: transparent;
}

.navbar-brand-custom {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap
}

.background-wrapper .card {
  margin: 2rem;
}

.form-wrapper {
  margin-top: 3rem;
  padding: 1rem 4rem;
  width: 30rem;
  background-color: lightgray;
  opacity: 0.95;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.form-control {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-title {
  font-size: 1.6rem;
}

.wide-form {
  width: 40rem;
}

.result-list {
  padding: 1rem 4rem;
  background: transparent;
}

.leyesList {
  width: 300px;
  min-height: 400px;
  margin: 0 auto;
  padding-top: 15px;
}

.detail-group {
  margin-top: 2rem;
}

.detail-group h2 {
  font-size: 1.4rem;
}

li.adjuntos {
  list-style: none;
}

#user-card {
  width: 18rem; 
  margin: auto; 
  margin-top: 4rem; 
  margin-bottom: 1.5rem;
}

.main-footer {
  width: 100%;
}

.main-footer article {
  width: 100%;
}

.main-footer h2{
  font-size: 0.8rem;
  font-weight: bold;
}

.main-footer p{
  font-size: 0.8rem;
}